.imageBase {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.ingredient {
  composes: imageBase;
  height: 100%;
}
.actionImage {
  height: 100%;
}
