.ingredientList {
  padding: 20px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: solid 1px #ccc;
  align-items: center;
}

.ingredientImage {
  height: 100%;
}

.ingredient {
  border: solid 1px #EECB6D;
  border-radius: 3px;
  height: 40%;
  width: 150px;
}
