.ingredientList {
  padding: 20px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: solid 1px #ccc;
  align-items: center;
}

.ingredientImage {
  height: 100%;
}

.ingredient {
  height: 45%;
  width: 150px;
}
