.kitchenWrapper {
  height: 50%;
  width: 100%;
}
.kitchen {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.table {
  width: 50%;
  height: 100%;
  position: relative;
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://4.bp.blogspot.com/-NrXN4SYZkAY/WM9YXpo2XvI/AAAAAAABCyA/5ju4uMCdAbIjpwVe9caDq4i3gsR3Aq8TACLcB/s400/table_syoumen_white2.png');
}
.stove {
  width: 50%;
  height: 100%;
  position: relative;
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('http://1.bp.blogspot.com/-5s3fbqTCgCA/Uf8znVbtBqI/AAAAAAAAWto/Ga4uo7-YF7k/s400/ih_konro.png');
}
.step {
  position: relative;
  height: 50%;
  width: 50%;
}
.tableStep {
  top: 20%;
  left: 35%;
  width: 30%;
  composes: step;
}
.stoveStep {
  composes: step;
  bottom: 20%;
  left: 22%;
  width: 30%;
}
