.option {
  width: fit-content;
  border-radius: 3px;
  padding: 10px;
}
input[type=text] {
  width: 50px;
  margin: 0 5px 10px;
  border: none;
  text-align: center;
  border-bottom: solid 1px #ccc;
  &:focus {
    outline: none;
    border-bottom: solid 1px #888;
  }
}
.form {
  margin: 0 auto;
  width: fit-content;
}
.submit {
  background: none;
}
