.optionPuta {
  width: 210px;
  background-color: cornsilk;
  border: solid 1px bisque;
  border-radius: 3px;
  padding: 10px;
}
.label input {
  width: 50px;
  margin: 0 5px 10px;
}
.submit {
  background: none;
}
