.sidebar {
  color: #fff;
  text-align: center;
  width: 70px;
  background-color: #E3D26F;
  border-right: solid 1px #4E3822;
  flex-shrink: 0;
}

.headerIcon {
  width: 100%;
  font-size: 30px;
  border-bottom: solid 1px #fff;
  padding: 15px 0;
  margin-bottom: 40px;
}
.item {
  width: 80%;
  margin: 0 auto 40px;
  padding: 0 0 40px;
  border-bottom: dotted 1px #fff;
  a {
    color: #fff;
  }
}

.icon {
  font-size: 30px;
  margin-bottom: 8px;
}

.iconImg {
  height: 30px;
  margin-bottom: 8px;
}
