.ffStep {
  position: relative;
  height: 100%;
}

.tableStep {
  position: relative;
  height: 100%;
}

.ffIngredient {
  top: 15%;
  left: 32%;
  width: 10%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.ffTool {
  bottom: 55%;
  left: 22%;
  width: 30%;
  position: absolute;
}

.tableIngredient {
  top: 37%;
  left: 45%;
  width: 10%;
  height: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.tableTool {
  top: 30%;
  left: 35%;
  width: 30%;
  position: absolute;
}

.ingredient {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.actionImage {
  height: 100%;
}
