.step {
  background-color: #fefefe;
  border-radius: 3px;
  border: solid 1px #ddd;
  padding: 15px;
  width: 180px;
  height: 180px;
  margin: 0 15px 15px 0;
  font-size: 18px;
}

.overview {
  font-size: 18px;
}

.description {
  margin-top: 24px;
  font-size: 19px;
}
