.stepList {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px;
  background-color: #EBEBE8;
  padding: 25px;
  border-radius: 2px;
  align-content: baseline;
}
.element {
  width: 70px;
  img {
    width: 100%;
  }
}

.stepAdder {
  text-align: center;
  font-size: 40px;
}
