.stepWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.step {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px 30px;;
}
.imageBase {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.flexBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
.actionName {
  width: 70%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 400;
}
.tools {
  composes: flexBase;
}
.tool {
  composes: imageBase;
  width: 100%;
  max-height: 40%;
  flex-grow: 1.0;
}
.emptyTool {
  composes: tool;
  background-image: url('https://i.gyazo.com/5491ce24a2df9e79f48f5bab25f0a082.png');
  height: 50%;
}
.ingredients {
  composes: flexBase;
}
.ingredient {
  composes: imageBase;
  width: 100%;
  height: 50%;
}
.emptyIngredient {
  composes: ingredient;
  background-image: url('https://i.gyazo.com/8d2105d58afc3c850accb43630c7c63f.png');
  height: 50%;
  width: 100%;
}
.options {
  composes: flexBase;
}
