.toolList {
  padding: 20px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tool {
  border: solid 1px #EECB6D;
  border-radius: 3px;
  height: 40%;
  img {
    height: 100%;
  }
}
