.toolList {
  padding: 20px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tool {
  height: 50%;
  img {
    height: 100%;
  }
}
