.toolList {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid 1px #ccc;
  background-color: #CA895F;
}

.tool {
  border: solid 1px #EECB6D;
  border-radius: 3px;
  height: 40%;
  img {
    height: 100%;
  }
}
