.itemButton {
  margin-right: 10px;
  border: solid 1px #fff;
  border-radius: 3px;
  height: 65px;
  width: 65px;
  background-color: #fcfcfc;
  img {
    height: 100%;
  }
  transition: all 300ms 0s ease;
  &:hover {
    opacity: 0.8;
  }
}

.itemButtonInactive {
  composes: itemButton;
  cursor: default;
  opacity: 0.5;
  &:hover {
    opacity: 0.5;
  }
}

.itemButtonUsed {
  composes: itemButton;
  background-color: #ccc;
}

.imageBase {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tool {
  composes: imageBase;
  width: 100%;
  height: 100%;
}
