@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.workspace {
  width: 50%;
  border-right: solid 1px #ccc;
  display: flex;
  flex-direction: column;
}

.toolBar {
  width: 100%;
}

.content {
  padding: 15px;
}
