@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.workspace {
  width: 50%;
  border-right: solid 1px #4E3822;
  display: flex;
  flex-direction: column;
}

.toolBar {
  width: 100%;
}

.content {
  padding: 15px 50px;
}

.stepListWrapper {
  width: 60%;
  margin: 20px;
  background-color: #EBEBE8;
  padding: 25px;
  border-radius: 2px;
  h1 {
    margin: 0 0 10px;
  }
}
