.stepWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.controlls {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
.step {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px 30px;;
}
.imageBase {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.flexBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
.actionNamesWrapper {
  height: 92px;
  margin: 0 32px;
  p {
    margin: 0 0 8px;
  }
}
.actionNames {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 300;
  transition: all 300ms 0s ease;
}
.actionNameBase {
  margin-right: 16px;
  border: solid 1px #ED7761;
  border-radius: 3px;
  padding: 10px;
  color: #ED7761;
  transition: all 300ms 0s ease;
  &:hover {
    opacity: 0.8;
  }
}
.actionName {
  composes: actionNameBase;
  background-color: #ED7761;
  color: #fff;
}
.actionNameInactive {
  composes: actionNameBase;
}
.tools {
  composes: flexBase;
}
.tool {
  composes: imageBase;
  width: 100%;
  max-height: 50%;
  flex-grow: 1.0;
}
.emptyTool {
  composes: tool;
  background-image: url('https://i.gyazo.com/5491ce24a2df9e79f48f5bab25f0a082.png');
  height: 50%;
}
.ingredients {
  composes: flexBase;
}
.ingredient {
  composes: imageBase;
  width: 100%;
  height: 50%;
}
.emptyIngredient {
  composes: ingredient;
  background-image: url('https://i.gyazo.com/8d2105d58afc3c850accb43630c7c63f.png');
  height: 50%;
  width: 100%;
}
.options {
  composes: flexBase;
}
